<div class="navbar-fixed">
  <nav class="navbar-fixed blue darken-3">
    <div class="container">
      <div class="nav-wrapper deep-purple">
        <a href="/" class="brand-logo">Matys</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Inicio</a></li>
          <li><a href="/acerca">Nosotros</a></li>
          <li class="active"><a href="/servicios">Servicios</a></li>
          <li><a href="/promociones">Promociones</a></li>
          <li><a href="#">Log-In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/index">Inicio</a></li>
  <li><a href="/acerca">Nosotros</a></li>
  <li class="active"><a href="/servicios">Servicios</a></li>
  <li><a href="/promociones">Promociones</a></li>
  <li><a href="#">Log-In</a></li>
</ul>
