<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align white-text"></h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 xl6" id="map"></div>
      <div class="col s12 m6 l3 xl3">
        <h5 class="center-align white-text">Lavandería Matys Laundry</h5>
        <p class="center-align white-text text-lighten-4">
          Correo: matyslaundry@gmail.com
        </p>
        <p class="center-align white-text text-lighten-4">
          Calle Puente Grau 108 A - Arequipa
        </p>
        <p class="center-align white-text text-lighten-4">
          Celular o WhatsApp: (+51) 995577941
        </p>
        <p class="center-align white-text text-lighten-4">
          Calle Puente Grau 108 A - Arequipa
        </p>
      </div>

      <div class="col s12 m6 l3 xl3">
        <h5 class="center-align white-text">Enlaces</h5>
        <ul>
          <li class="center-align">
            <a class="grey-text text-lighten-3" href="/">Inicio</a>
          </li>
          <li class="center-align">
            <a class="grey-text text-lighten-3" href="/acerca">Nosotros</a>
          </li>
          <li class="center-align">
            <a class="grey-text text-lighten-3" href="/servicios">Servicio</a>
          </li>
          <li class="center-align">
            <a class="grey-text text-lighten-3" href="/promociones"
              >Promociones</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
