<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align white-text"></h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 xl6" id="map"></div>
      <div class="col s12 m6 l4 xl4">
        <h5 class="center-align white-text">Lavandería Matys Laundry</h5>
        <div
          class="valign-wrapper white-text text-lighten-4"
          style="justify-content: center"
        >
          <span class="material-icons"> email </span>
          <a
            style="color: skyblue; margin-left: 4px"
            href="mailto:matyslaundry@gmail.com"
            >matyslaundry@gmail.com</a
          >
        </div>
        <p class="center-align white-text text-lighten-4">
          <a
            style="color: skyblue"
            href="https://maps.app.goo.gl/K8fdsHudXuWPsut58"
            target="_blank"
            rel="noopener noreferrer"
            >Calle Puente Grau 108 A - Arequipa</a
          >
        </p>
        <p class="center-align white-text text-lighten-4">
          Celular o WhatsApp:
          <a
            style="color: skyblue"
            href="http://wa.me/+51995577941"
            target="_blank"
            rel="noopener noreferrer"
            >(+51) 995577941</a
          >
        </p>
        <p class="center-align white-text text-lighten-4">
          Built by
          <a
            class="skyblue-link"
            href="https://www.linkedin.com/company/ideien"
            target="_blank"
            rel="noopener noreferrer"
            >Ideien Software and Technology</a
          >
        </p>
      </div>

      <div class="col s12 m6 l2 xl2">
        <h5 class="center-align white-text">Enlaces</h5>
        <ul>
          <li class="center-align">
            <a class="skyblue-link" href="/">Inicio</a>
          </li>
          <li class="center-align">
            <a class="skyblue-link" href="/acerca">Nosotros</a>
          </li>
          <li class="center-align">
            <a class="skyblue-link" href="/servicios">Servicio</a>
          </li>
          <li class="center-align">
            <a class="skyblue-link" href="/promociones">Promociones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
