{{ define "header" }}
<header></header>
{{ end }} {{ define "nav" }}
<nav class="blue darken-3">
  <div class="container">
    <div class="navbar-fixed">
      <a href="/" class="brand-logo">Maty's</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Inicio</a></li>
        <li><a href="/acerca/">Nosotros</a></li>
        <li><a href="/servicios/">Servicios</a></li>
        <li><a href="/promociones/">Promociones</a></li>
        <li><a href="#">Log-In</a></li>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li class="active"><a href="/">Inicio</a></li>
  <li><a href="/acerca/">Nosotros</a></li>
  <li><a href="/servicios/">Servicios</a></li>
  <li><a href="/promociones/">Promociones</a></li>
  <li><a href="#">Log-In</a></li>
</ul>
{{ end }} {{ define "slider" }}
<section>
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/assets/images/slide1.jpg" />
        <!-- random image -->
        <div class="caption center-align">
          <h3>Un servicio de calidad</h3>
          <h5 class="light grey-text text-lighten-3">
            Nuestro objetivo es hacerte feliz
          </h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/toallas1.jpeg" />
        <!-- random image -->
        <div class="caption left-align">
          <h3>Rápido y Eficiente</h3>
          <h5 class="light grey-text text-lighten-3">
            Trabajamos mucho por ti
          </h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/lavadora.jpg" />
        <!-- random image -->
        <div class="caption right-align">
          <h3>Usamos las máquinas adecuadas</h3>
          <h5 class="light grey-text text-lighten-3">
            Nuestras máquinas son especiales para nuestro trabajo.
          </h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/insumo.jpg" />
        <!-- random image -->
        <div class="caption center-align">
          <h3>Usamos insumos de calidad</h3>
          <h5 class="light grey-text text-lighten-3">
            Nuestros insumos garantizan máxima limpieza.
          </h5>
        </div>
      </li>
    </ul>
  </div>
</section>
{{ end }} {{ define "main" }}
<div id="content">
  <div class="divider"></div>
  <section>
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4 class="black-text center-align">¿Por qué elegirnos?</h4>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/camisas.jpg" />
                <span class="card-title">Confianza</span>
              </div>
              <div class="card-content">
                <p>
                  Trabajamos duro para ofrecerte el mejor servicio, el tiempo
                  que pases con nosotros demostrará que puedes confiar en
                  nosotros.
                </p>
              </div>
              <!-- <div class="card-action">
                            <a href="#">Enlace</a>
                        </div> -->
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/puntualidad.jpg" />
                <span class="card-title">Puntualidad</span>
              </div>
              <div class="card-content">
                <p>
                  Cumplimos con nuestro servicio de acuerdo a la acordado
                  evitando molestias para que sigas con tus actividades de
                  manera normal.
                </p>
              </div>
              <!-- <div class="card-action">
                            <a href="#">Enlace</a>
                        </div> -->
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/calidad2.jpeg" />
                <span class="card-title">Calidad de Servicio</span>
              </div>
              <div class="card-content">
                <p>
                  Nuestro objetivo es que estés satisfecho con nuestro servicio
                  es por eso que nos esforzamos para realizar bien nuestro
                  trabajo y entregarte un servicio de calidad.
                </p>
              </div>
              <!-- <div class="card-action">
                            <a href="#">Enlace</a>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4 class="text-black center-align">¿Qué servicios ofrecemos?</h4>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/lavaseca.jpg" />
                <span class="card-title">Lavado y Secado</span>
              </div>
              <div class="card-content">
                <p>
                  Ofrecemos servicios de lavado normal y lavado en seco de
                  acuerdo al tipo de prenda o revestimiento que lleves, te
                  explicamos el porqué del tipo de lavado, lavamos ropa por
                  kilo. Haz click en el enlace para saber más sobre el lavado.
                </p>
              </div>
              <div class="card-action">
                <a href="/servicios/#lavado">Más Info</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/plancha.jpeg" />
                <span class="card-title">Planchado</span>
              </div>
              <div class="card-content">
                <p>
                  Tenemos un servicio de planchado al vapor y en seco excelente
                  ... Haz click en el enlace para saber sobre prendas que se
                  pueden planchar
                </p>
              </div>
              <div class="card-action">
                <a href="/servicios/#planchado">Más Info</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4">
          <div class="container">
            <div class="card hoverable">
              <div class="card-image">
                <img src="/assets/images/colchas1.jpg" />
                <span class="card-title">Lavados Especiales</span>
              </div>
              <div class="card-content">
                <p>
                  No solamente lavamos ropa, también cortinas, frazadas, colchas
                  y otros ... Haz click en el enlace para ver qué otros
                  servicios ofrecemos.
                </p>
              </div>
              <div class="card-action">
                <a href="/servicios/#lavadosespeciales">Más Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</div>
{{ end }}
