{{ define "nav" }}
<div class="navbar-fixed">
  <nav class="navbar-fixed blue darken-3">
    <div class="container">
      <div class="nav-wrapper deep-purple">
        <a href="/" class="brand-logo">Maty's</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Inicio</a></li>
          <li><a href="/acerca">Nosotros</a></li>
          <li class="active"><a href="/servicios">Servicios</a></li>
          <li><a href="/promociones">Promociones</a></li>
          <li><a href="#">Log-In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/index">Inicio</a></li>
  <li><a href="/acerca">Nosotros</a></li>
  <li class="active"><a href="/servicios">Servicios</a></li>
  <li><a href="/promociones">Promociones</a></li>
  <li><a href="#">Log-In</a></li>
</ul>
{{ end }} {{ define "main" }}
<!-- Section lavado en seco -->

<!-- <section class="section"> -->
<div class="wrapper">
  <div class="row">
    <div class="col s12 m8 l10 xl10">
      <div class="container">
        <div id="lavado" class="section scrollspy">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">Lavado</h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/lavadogeneral.jpg"
                class="responsive-img"
                alt="lavado"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                Existen varios tipos de lavado pero para ser más simples vamos a
                resumirlo, tenemos el el lavado en agua que es el más conocido y
                el lavado en seco que es especial.
              </p>
              <p>
                El proceso de lavado es diferente al que uno hace en casa, en
                Maty's seguimos el procedimiento adecuado para cada tipo de
                ropa, eso incluye separar la ropa blanca de la de color, separar
                por grado de suciedad, material de la ropa y otros aspectos que
                vemos para alargar la vida util de tus prendas.
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadoenagua">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">Lavado en Agua</h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                El lavado en agua es el más conocido ya que usando lavadoras
                domésticas se puede lavar la ropa utilizando agua, muchas
                personas no saben como programar la lavadora para ser más
                eficientes, además de que hay diferentes tipos de ropa, esto
                hace que la ropa tenga menos vida útil además de gastar otros
                recursos como electricidad, agua y tiempo.
              </p>
              <p>
                En Maty's nosotros nos encargarmos de esas cosas que hacen del
                lavado un proceso con el cual tu ropa convervará su color y
                quedará limpia sin maltratar la ropa tanto como las lavadoras
                domésticas.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/lavadoenagua.jpg"
                class="responsive-img"
                alt="lavado-agua"
              />
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadoenseco">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">Lavado en Seco</h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/insumo.jpg"
                class="responsive-img"
                alt="insumo"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                El lavado en seco es un lavado especial porque es para ropa
                especial. ¿Qué quiere decir esto? Quiere decir que la ropa no
                puede ser lavada con un método común, porque el material del que
                están hechos son delicados.
              </p>
              <p>
                El lavado en seco es un proceso especial donde nosotros tenemos
                cuidado de utilizar los insumos adecuados para el cuidado de tu
                ropa. Tú no tienes que preocuparte de esas cosas ya que eso está
                en nuestras manos.
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadodeternos">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Ternos
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                ¿Porqué el lavado de ternos es otra sección? Bueno está en una
                sección aparte porque los trajes o ternos son unos de los que
                más atendemos; para lavar un terno se utiliza, dependiendo del
                material, lavado en agua o lavado en seco. Además de los trajes
                también entran en esta categoría los sacos, blazers, ropa de
                vestir elegante y otros parecidos.
              </p>
              <p>
                Un buen cuidado de este tipo de prendas determina el tiempo que
                dura la misma es por eso que es importante tener en cuenta
                algunos aspectos de este tipo de ropa.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/sacos.jpg"
                class="responsive-img"
                alt="trajes"
              />
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadodeabrigos">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Abrigos
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/abrigos.jpg"
                class="responsive-img"
                alt="abrigos"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                En Matys tambien lavamos distintos tipos de abrigos por medio de
                lavado en seco o en agua, de acuerdo al material de que esté
                hecho.
              </p>
              <p>
                Estas prendas requieren de mucho cuidado para que duren bastante
                tiempo. Nosotros haremos este trabajo para que puedas tener tu
                prenda por más tiempo.
              </p>
            </div>
          </div>
        </div>

        <div class="section scrollspy" id="lavadodevestidos">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Vestidos
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                También lavamos distintos tipos de vestidos de acuerdo al
                material, vestidos de novias, vestidos de fiesta o vestidos
                simples, todas con un cuidado especial para mantenerla.
              </p>
              <p>
                Al igual que los ternos o los abrigos tienen un tratamiento
                especial ya sea que se lave al vapor o en agua.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/vestidos.jpeg"
                class="responsive-img"
                alt="vestidos"
              />
            </div>
          </div>
        </div>

        <div class="section scrollspy" id="lavadodecasacasdecuero">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Casacas de Cuero
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/casacacuero.jpg"
                class="responsive-img"
                alt="cuero"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                Las casacas de cuero son un poco difíciles de lavar, tenemos los
                recursos necesarios para este trabajo.
              </p>
              <p>
                Haz que tus casacas de cuero esten en buen estado, tráelas a
                Matys nosotros nos encargamos.
              </p>
            </div>
          </div>
        </div>

        <div class="section scrollspy" id="lavadodecorbatas">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Corbatas
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                Las corbatas también se pueden lavar, las corbatas son
                especiales porque se pueden ensuciar muy rápido y son dificiles
                de lavar, tenemos la opción de lavar corbatas.
              </p>
              <p>
                Manten tus corbatas limpias y en buen estado para utilizarlas en
                memoentos especiales o en fiestas.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <div class="section"></div>
              <img
                src="/assets/images/corbatas.jpeg"
                class="responsive-img"
                alt="corbatas"
              />
            </div>
          </div>
        </div>

        <div class="section scrollspy" id="planchado">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">Planchado</h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                class="responsive-img"
                src="/assets/images/plancha.jpeg"
                alt="plancha"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                El planchado es una parte importante para cierto tipo de ropa,
                hay que tener en cuenta que de acuerdo al tipo de ropa es que se
                usan diferentes temperaturas y obviamente no es una plancha
                común la que hace este trabajo sino una planchadora especial
                para esto.
              </p>
              <p>
                Hay ropa que se arruga muy facilmente que requiere un planchado
                especial a temperaturas no muy altas y hay ropa que
                <strong>no</strong> requiere de planchado.
              </p>
              <p>
                Nosotros nos encargarmos de seleccionarlas, solo necesitamos que
                traigas las prendas.
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="planchadonormal">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Planchado Normal
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                Diremos que el planchado normal es el planchado sin usar vapor,
                usando nuestra plancha industrial podemos regular la temperatura
                por lo que e término planchado normal se aplica a esto.
              </p>
              <p>
                Hay ropas que requieren planchado para que se vean mejor y
                requieren ete tipo de planchado.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                class="responsive-img"
                src="/assets/images/ropadoblada.jpeg"
                alt="ropa-doblada"
              />
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="planchadoalvapor">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Planchado al Vapor
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/planchavapor.png"
                class="responsive-img"
                alt="plancha-vapor"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                Este es un tipo especial de planchado, también hay que regular
                la temperatura y el vapor. Hay ropa que puede ser planchada a
                vapor, hay otras que no. Sim embargo es un método usado para
                cierto tipo de ropa.
              </p>
              <p>
                El planchado a vapor se realiza con el mismo artefacto que el
                planchado normal pero usando otros atributos.
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadosespeciales">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavados Especiales
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                Lavados especiales es una seccion aparte porque necesitamos que
                sepas que no solamente lavamos ropa también hacemos lavados de
                otros materiales no solamente ropa de uso diario o casual. Vamos
                a describir algunos de los servicios específicos que ofrecemos,
                esto incluye ropa de cama, toldos, sombrillas, tapasoles,
                edredones y otros que se puedan lavar.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/colchas.jpg"
                class="responsive-img"
                alt="colchas"
              />
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadoderopadecama">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Ropa de Cama
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/colchas1.jpg"
                class="responsive-img"
                alt="colchas1"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                Lavamos varios tipos de materiales, las ropas de cama no son una
                excepción.
              </p>

              <p>
                El lavado de ropa de cama engloba a colchas, sábanas, cubre
                camas, frazadas y otros
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadodeedredones">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Edredones
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                Algo de tener en cuenta. No son fáciles de lavar en casa por lo
                que te ofrecemos este lavado especial.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/edredones.jpg"
                class="responsive-img"
                alt="edredones"
              />
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadodecortinas">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Cortinas
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="/assets/images/cortinas.jpeg"
                class="responsive-img"
                alt="cortinas"
              />
            </div>
            <div class="col s12 m6 l6 xl6">
              <p>
                El cuidado de las cortinas está en la sección de lavados
                especiales porque generalmente son grandes, aveces unos son más
                delicados, otros son gruesos otros más delgados, hay de
                distintos materiales.
              </p>
            </div>
          </div>
        </div>
        <div class="section scrollspy" id="lavadodetapasoles">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Tapasoles
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                Son como cortinas super gruesas para tapar toda la ventana para
                que no entre el sol, este tipo especial de cortina se llama
                tapasol.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                class="responsive-img"
                src="/assets/images/tapasol.jpeg"
                alt="tapasol"
              />
            </div>
          </div>
        </div>

        <div class="section scrollspy" id="lavadodepeluches">
          <div class="row">
            <h3 class="blue-text text-darken-3 center-align">
              Lavado de Peluches
            </h3>
          </div>
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <p>
                ¿Tienes peluches que quieres conservar limpios?, ¿Son regalos
                especiales que te hicieron?
              </p>
              <p>
                También en lavados especiales te ofrecemos el servicio de lavado
                de peluches para que los mantengas en buen estado o simplemente
                para limpiarlos porque se ensuciaron.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6">
              <img
                alt="peluches"
                src="/assets/images/peluche.jpeg"
                class="responsive-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="col m4 l2 xl2 hide-on-small-only">
      <div class="toc-wrapper pinned">
        <ul
          class="section table-of-contents blue-darken 3"
          style="font-size: 15px"
        >
          <li><a href="#lavado">Lavado</a></li>
          <li><a href="#lavadoenagua">Lavado en Agua</a></li>
          <li><a href="#lavadoenseco">Lavado en Seco</a></li>
          <li><a href="#lavadodeternos">Lavado de Ternos</a></li>
          <li><a href="#lavadodeabrigos">Lavado de Abrigos</a></li>
          <li><a href="#lavadodevestidos">Lavado de Vestidos</a></li>
          <li>
            <a href="#lavadodecasacasdecuero">Lavado de Casacas de Cuero</a>
          </li>
          <li><a href="#lavadodecorbatas">Lavado de Corbatas</a></li>
          <li><a href="#planchado">Planchado</a></li>
          <li><a href="#planchadonormal">Planchado Normal</a></li>
          <li><a href="#planchadoalvapor">Planchado al Vapor</a></li>
          <li><a href="#lavadosespeciales">Lavados Especiales</a></li>
          <li><a href="#lavadoderopadecama">Lavado de Ropa de Cama</a></li>
          <li><a href="#lavadodeedredones">Lavado de Edredones</a></li>
          <li><a href="#lavadodecortinas">Lavado de Cortinas</a></li>
          <li><a href="#lavadodetapasoles">Lavado de Tapasoles</a></li>
          <li><a href="#lavadodepeluches">Lavado de Peluches</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".sidenav").sidenav();
    $(".scrollspy").scrollSpy();
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".sidenav").sidenav();
    $(".materialboxed").materialbox();
  });
</script>
{{ end }}
